<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Hello World.</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    {{message}} + 'seen=' + {{seen}}

    <template v-if="seen">
        <h5>Title Seen (True)</h5>
        <p>Paragraph true</p>
    </template>

    <template v-else>
        <h5>Title Seen (Else)</h5>
        <p>Paragraph else</p>
    </template>

    <!--v-show 的元素会始终渲染并保持在 DOM 中。v-show 是简单的切换元素的 CSS 属性 display v-show 不支持 <template> 语法-->
    <h5 v-show="seen">v-show Hello!</h5>

</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds to see my dynamically bound title!
  </span>
</div>

<div id="app-3">
    <p v-if="seen" v-bind:style="[styleObject, styleObject2]">Now you see me (seen、style)</p>
    <p v-else v-bind:style="[styleObject, styleObject2]">Now you see me (seen Else、style)</p>
    <p :style="[styleObject, styleObject2, {color: 'blue'}]" class="classB">Now you see me2 (style)</p>
    <p :class="[{classB: seen}, classAtData]">Now you see me3 (classAtData)</p>
    <p :class="[{classB: seen}, classAtComputed]">Now you see me4 (classAtComputed)</p>
</div>

<div id="app-4">
    <ul>
        <li v-for="(todo, index) in todos">
            {{index}}: &nbsp;{{ todo.text }}
        </li>
    </ul>
</div>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message and app3's seen variable (bool)</button>
</div>

<div id="app-6">
    <p>{{ message | capitalize | filterA('kai') }}</p>
    <input v-model="message">
</div>

<div v-html="{{rawHtml}}"></div>
<div v-html="<p>rawHtml2</p>"></div>
<div>
    <p>after raw html</p>
</div>

<div id="app-7">
    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="input_username" v-model="userName">
    </template>
    <template v-else>
        <!--label input 顺序颠倒下搞的不一样也不能复用了-->
        <label>Email</label>
        <input placeholder="Enter your email address" key="input_email" v-model="email">
    </template>
    <button @click="onToggleLoginType">Toggle login type</button>

    <br/>
    <input placeholder="press keybord enter" @keyup.enter="onPressKeyboard" v-on:keyup.tab.delete="onPressKeyboard2">
    <br/>

    <span v-for="(n, index) in 10" style="white-space: pre;">{{index}}: {{n}}    </span>

    <ol>
        <li v-for="(value, key) in object">
            {{key}}: &nbsp;{{ value }}
        </li>
    </ol>
</div>

<div id="app-8">
    <label for="jack">Jack Label</label>
    <input type="checkbox" id="jack" value="Jack1" v-model="checkedNames">
    <br>
    <input type="checkbox" id="john" value="John2" v-model="checkedNames">
    <label for="john">John</label>
    <br>
    <label for="mike">Mike</label>
    <input type="checkbox" id="mike" value="Mike3" v-model="checkedNames">
    <br>
    <span>Checked names: {{ checkedNames }}</span>

    <br><br>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>

    <br><br>

    <select v-model="selected">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>

    <br><br>
    <select v-model="selecteds" multiple>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selecteds }}</span>


    <br><br>
    <select v-model="selected">
        <option v-for="option in options" :value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Selected: {{ selected }}</span>

</div>

<div id="app-9">
    <my-component message-prop='myMsg'></my-component>
    <br>
    <child-component :message='msgToChild'></child-component>
    <br>
    <child-component :message='msgToChild'>此处是有分发内容的</child-component>
    <br>
    <child-component2 :message='msgToChild' prop-c="a"></child-component2>
    <br>

    <br><br>test current view<br>
    <component v-bind:is="currentView" prop-c="from dynamic component">
    </component>
    <br>end test current view<br><br>
</div>

<div id="counter-event-example">
    <p>{{ total }}</p>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>

    <br><br>
    <currency-input v-model="price"></currency-input>

    <br><br>
</div>

<script>

    var bus = new Vue();

    bus.$on('event-test', function (data) {
        console.log('look on event-test: ' + data);
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            seen: true
        }
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'You loaded this page on ' + new Date()
        }
    })

    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: app.seen,
            styleObject: {
                color: 'red',
                fontSize: '16px'
            },
            styleObject2: {
                color: 'green',
                fontSize: '16px'
            },
            classAtData: {
                classA: this.seen, // 不止为何没起作用， 也许此时seen还没生效，值为false，
                // 用app.seen也不行，起作用，但不会绑定，需要动态绑定还是用computed或者写在布局模板中

            },
        },
        computed: {
            classAtComputed: function () {
                return {
                    classA: this.seen
                }
            }
        }
    })

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                {text: 'Learn JavaScript'},
                {text: 'Learn Vue'},
                {text: 'Build something awesome'}
            ]
        },
        created: function () {
            console.log('look log, total %d length.\nfirst text: %s, second text: %s.', this.todos.length, this.todos[0].text, this.todos[1].text);
            console.log("This is %cMy stylish message", "color: yellow; font-style: italic; background-color: blue;padding: 2px");

            console.log("This is the outer level");
            console.group();
            console.log("Level 2");
            console.group();
            console.log("Level 3");
            console.warn("More of level 3");
            console.groupEnd();
            console.log("Back to level 2");
            console.groupEnd();
            console.debug("Back to the outer level");

            console.time("answerTime");
//            alert("Click to continue");
            console.timeEnd("answerTime");
        }
    })

    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!',
        },
        methods: {
            reverseMessage: function () {
                let vm = this;
                console.log('test click, before update: ' + this.$el.textContent);
                this.message = this.message.split('').reverse().join('');
                console.log('test click, after update: ' + this.$el.textContent);
                Vue.nextTick(function () {
                    console.log('test click, after nextTick: ' + vm.$el.textContent);
                });
                this.$nextTick(function () {
                    console.log('test click, after nextTick by this: ' + this.$el.textContent);
                });
                app3.seen = !app3.seen;
                app.seen = app3.seen;
                Vue.set(app4.todos, 0, {text: 'change by Vue.set(...)'})
                bus.$emit('event-test', 'you clicked reverseMessage');
                app9.currentView = 'child-component2';
            }
        }
    })

    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        },
        computed: {
            rawHtml: function () {
                return "<font color='red'>" + this.message + "</font>";
                return "<p>" + this.message + "</p>";
            }
        },
        filters: {
            capitalize: function (value) {
                if (!value) return '';
                value = value.toString();
                return value.charAt(0).toUpperCase() + value.slice(1);
            },
            filterA: function (value, arg) {
                return value + '_' + arg;
            }
        },
        beforeCreate: function () {
            console.log('look lifecycle: beforeCreate')
        },
        created: function () {
            console.log('look lifecycle: created')
        },
        beforeMount: function () {
            console.log('look lifecycle: beforeMount')
        },
        mounted: function () {
            console.log('look lifecycle: mounted')
        },
        beforeUpdate: function () {
            console.log('look lifecycle: beforeUpdate')
        },
        updated: function () {
            console.log('look lifecycle: updated')
        },
        beforeDestroy: function () {
            console.log('look lifecycle: beforeDestroy')
        },
        destroyed: function () {
            console.log('look lifecycle: destroyed'); // not see
        },
    })

    app6.$watch('message', function (newVal, oldVal) {
        console.log('lookMessage newVal=' + newVal + " oldVal=" + oldVal);
    })

    var app7 = new Vue({
        el: '#app-7',
        data: {
            loginType: 'username',
            userName: '',
            email: '',
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            },
        },
        methods: {
            onToggleLoginType: function () {
                if (this.loginType == 'username') {
                    this.loginType = 'email';
                } else {
                    this.loginType = 'username';
                }
            },
            onPressKeyboard: function (arg) {
                console.log('lookMessage onPress keyboard, arg=' + JSON.stringify(arg));
            },
            onPressKeyboard2: function () {
                console.log('lookMessage onPress keyboard2');
            },
        }
    });

    const app8 = new Vue({
        el: '#app-8',
        data: {
            checkedNames: [],
            picked: '',
            selected: 'B',
            selecteds: ['B', 'C'],
            options: [
                {text: 'One', value: 'A'},
                {text: 'Two', value: 'B'},
                {text: 'Three', value: 'C'}
            ],
        },
        methods: {}
    });

    Vue.component('my-component', {
        template: '<div>A custom global component, {{messageProp}}!</div>',
        props: ['messageProp']
    });

    var Child = {
        template: '<div>A custom child component, {{statisticMsg}}!<br>\
                        <slot>\
                            只有在没有要分发的内容时才会显示。\
                        </slot>\
                    </div>',
        props: ['message'],
        computed: {
            statisticMsg: function () {
                return 'original: ' + this.message + " length:" + (this.message ? this.message.length : -1);
            }
        }
    };

    var Child2 = {
        template: '<div>A custom child2 component, {{message}}!</div>',
        props: {
            message: {
                validator: function (value) {
                    return value >= 'a';
                }
            },
            propA: null,
            propB: [String, Number],
            propC: {
                type: String,
                required: true
            },
            propD: {
                type: Number,
                default: 100
            },
            propE: {
                type: Object,
                default: function () {
                    return {message: 'hello'}
                }
            },
            propF: {
                validator: function (value) {
                    return value > 10
                }
            }
        }
    };

    const app9 = new Vue({
        el: '#app-9',
        components: {
            'child-component': Child,
            'child-component2': Child2,
        },
        data: {
            msgToChild: 'msgToChild From data',
            currentView: 'child-component'
        },
        methods: {}
    });

    Vue.component('button-counter', {
        template: '<button v-on:click="increment">{{ counter }}</button>',
        data: function () {
            return {
                counter: 0
            }
        },
        methods: {
            increment: function () {
                this.counter += 1
                this.$emit('increment')
            }
        },
    });

    Vue.component('currency-input', {
        template: '\
    <span>\
      $\
      <input\
        ref="input"\
        v-bind:value="value"\
        v-on:input="updateValue($event.target.value)"\
      >\
    </span>\
  ',
        props: ['value'],
        methods: {
            // 不是直接更新值，而是使用此方法来对输入值进行格式化和位数限制
            updateValue: function (value) {
                var formattedValue = value
                // 删除两侧的空格符
                    .trim()
                    // 保留 2 小数位
                    .slice(0, value.indexOf('.') + 3)
                // 如果值不统一，手动覆盖以保持一致
                if (formattedValue !== value) {
                    this.$refs.input.value = formattedValue
                }
                // 通过 input 事件发出数值
                this.$emit('input', Number(formattedValue))
            }
        }
    });

    new Vue({
        el: '#counter-event-example',
        data: {
            total: 0,
            price: 100
        },
        methods: {
            incrementTotal: function () {
                this.total += 1
            }
        }
    });

</script>

<style type="text/css">

    .classA {
        width: 200px;
        height: 30px;
        border: 1px solid #ccc;
    }

    .classB {
        background: yellow;
    }

</style>

</body>
</html>