<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Hello World.</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    {{message}} + 'seen=' + {{seen}}

    <template v-if="seen">
        <h5>Title Seen (True)</h5>
        <p>Paragraph true</p>
    </template>

    <template v-else>
        <h5>Title Seen (Else)</h5>
        <p>Paragraph else</p>
    </template>

    <!--v-show 的元素会始终渲染并保持在 DOM 中。v-show 是简单的切换元素的 CSS 属性 display v-show 不支持 <template> 语法-->
    <h5 v-show="seen">v-show Hello!</h5>

</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds to see my dynamically bound title!
  </span>
</div>

<div id="app-3">
    <p v-if="seen" v-bind:style="[styleObject, styleObject2]">Now you see me (seen、style)</p>
    <p v-else v-bind:style="[styleObject, styleObject2]">Now you see me (seen Else、style)</p>
    <p :style="[styleObject, styleObject2, {color: 'blue'}]" class="classB">Now you see me2 (style)</p>
    <p :class="[{classB: seen}, classAtData]">Now you see me3 (classAtData)</p>
    <p :class="[{classB: seen}, classAtComputed]">Now you see me4 (classAtComputed)</p>
</div>

<div id="app-4">
    <ul>
        <li v-for="(todo, index) in todos">
            {{index}}: &nbsp;{{ todo.text }}
        </li>
    </ul>
</div>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message and app3's seen variable (bool)</button>
</div>

<div id="app-6">
    <p>{{ message | capitalize | filterA('kai') }}</p>
    <input v-model="message">
</div>

<div v-html="{{rawHtml}}"></div>
<div v-html="<p>rawHtml2</p>"></div>
<div>
    <p>after raw html</p>
</div>

<div id="app-7">
    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="input_username" v-model="userName">
    </template>
    <template v-else>
        <!--label input 顺序颠倒下搞的不一样也不能复用了-->
        <label>Email</label>
        <input placeholder="Enter your email address" key="input_email" v-model="email">
    </template>
    <button @click="onToggleLoginType">Toggle login type</button>

    <br />
    <input placeholder="press keybord enter" @keyup.enter="onPressKeyboard" v-on:keyup.tab.delete="onPressKeyboard2">
    <br/>

    <span v-for="(n, index) in 10">{{index}}: {{n}}&nbsp;&nbsp;&nbsp;&nbsp;</span>

    <ol>
        <li v-for="(value, key) in object">
            {{key}}: &nbsp;{{ value }}
        </li>
    </ol>

</div>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            seen: true
        }
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'You loaded this page on ' + new Date()
        }
    })

    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: app.seen,
            styleObject: {
                color: 'red',
                fontSize: '16px'
            },
            styleObject2: {
                color: 'green',
                fontSize: '16px'
            },
            classAtData: {
                classA: this.seen, // 不止为何没起作用， 也许此时seen还没生效，值为false，
                // 用app.seen也不行，起作用，但不会绑定，需要动态绑定还是用computed或者写在布局模板中

            },
        },
        computed: {
            classAtComputed: function () {
                return {
                    classA: this.seen
                }
            }
        }
    })

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                {text: 'Learn JavaScript'},
                {text: 'Learn Vue'},
                {text: 'Build something awesome'}
            ]
        },
        created: function () {
            console.log('look log, total %d length.\nfirst text: %s, second text: %s.', this.todos.length, this.todos[0].text, this.todos[1].text);
            console.log("This is %cMy stylish message", "color: yellow; font-style: italic; background-color: blue;padding: 2px");

            console.log("This is the outer level");
            console.group();
            console.log("Level 2");
            console.group();
            console.log("Level 3");
            console.warn("More of level 3");
            console.groupEnd();
            console.log("Back to level 2");
            console.groupEnd();
            console.debug("Back to the outer level");

            console.time("answerTime");
//            alert("Click to continue");
            console.timeEnd("answerTime");
        }
    })

    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!',
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
                app3.seen = !app3.seen;
                app.seen = app3.seen;
                Vue.set(app4.todos, 0, {text: 'change by Vue.set(...)'})
            }
        }
    })

    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        },
        computed: {
            rawHtml: function () {
                return "<font color='red'>" + this.message + "</font>";
                return "<p>" + this.message + "</p>";
            }
        },
        filters: {
            capitalize: function (value) {
                if (!value) return '';
                value = value.toString();
                return value.charAt(0).toUpperCase() + value.slice(1);
            },
            filterA: function (value, arg) {
                return value + '_' + arg;
            }
        },
        beforeCreate: function () {
            console.log('look lifecycle: beforeCreate')
        },
        created: function () {
            console.log('look lifecycle: created')
        },
        beforeMount: function () {
            console.log('look lifecycle: beforeMount')
        },
        mounted: function () {
            console.log('look lifecycle: mounted')
        },
        beforeUpdate: function () {
            console.log('look lifecycle: beforeUpdate')
        },
        updated: function () {
            console.log('look lifecycle: updated')
        },
        beforeDestroy: function () {
            console.log('look lifecycle: beforeDestroy')
        },
        destroyed: function () {
            console.log('look lifecycle: destroyed'); // not see
        },
    })

    app6.$watch('message', function (newVal, oldVal) {
        console.log('lookMessage newVal=' + newVal + " oldVal=" + oldVal);
    })

    var app7 = new Vue({
        el: '#app-7',
        data: {
            loginType: 'username',
            userName: '',
            email: '',
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        },
        methods: {
            onToggleLoginType: function () {
                if (this.loginType == 'username') {
                    this.loginType = 'email';
                } else {
                    this.loginType = 'username';
                }
            },
            onPressKeyboard: function (arg) {
                console.log('lookMessage onPress keyboard, arg=' + JSON.stringify(arg));
            },
            onPressKeyboard2: function () {
                console.log('lookMessage onPress keyboard2');
            },
        }
    });
</script>

<style type="text/css">

    .classA {
        width: 200px;
        height: 30px;
        border: 1px solid #ccc;
    }

    .classB {
        background: yellow;
    }

</style>

</body>
</html>